@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&family=Catamaran:wght@500&family=Nunito:wght@300&family=Roboto+Slab&display=swap');
*{

  font-family: 'Catamaran', sans-serif;
   
}
#root{
    width: 100vw;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(45deg, #4158D0 10%, #C850C0 30%, #FFCC70 120%);
  

 
 
}
#taskSelectors button{
    text-transform: uppercase;
    border:none;
    background: none;
    font-size: 12px;
}
#taskSelectors button:hover{
    background: rgb(93, 93, 183)
}
#tasks *{
    cursor: pointer;
}
#tasks button{
    font-size: 10px;
   
}
#tasks label{
    font-size: 15px;
   
}
#backToIns{
    font-size: 12px;
 
    
}
#welcome{
   

}
#theContainer{  
   
  
}
#howTo{
    

}
#app{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
#bulb{
    color: #555654;
  
    

}
#design{
    font-size: 10px;
}
@media (max-Width:700px){
    #taskSelectors button{
        
        font-size: 7px;
    }
    #tasks button{
        font-size: 7px;
    }
    #tasks label{
        font-size: 10px;
       
    }
    #add{
        font-size: 10px;
    }
#newTask{
    font-size: 14px;

}
#backToIns{
    font-size: 8px;
    width: 25%;
}

}